$primary: black;
$secondary: #fdfdfd;
$othercolor: #f5eded;
$bgcolor: #071e3d;
// html,
// body {
//   scroll-snap-type: y mandatory;
//   scroll-behavior: smooth;
//   transition: 0.3s ease;
// }
// section {
//   scroll-snap-align: start;
// }

@media (max-width: 768px) {
  // body {
  //   scroll-snap-type: none !important;
  //   overflow-x: hidden;
  // }
  // section {
  //   scroll-snap-align: none !important;
  // }
}

body {
  height: 100vh;
  background: $bgcolor;
  position: relative;
}

header {
  background-color: $secondary;
  width: 100%;
  position: absolute;
  min-height: 10vh;
  h1 {
    cursor: wait;
    color: $primary;
  }
  a {
    display: block !important;
    // transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transition: 0.3s ease;
  }
  li {
    padding: 0px 10px;
  }
  a {
    padding: 10px;
    font-weight: bold;
    color: $primary;
  }
  li:hover a {
    // background-color: white;
    color: $primary;
    // transform: translateY(-10px);
    border: 2px solid #d72323;
    border-radius: 50px;
  }
  span {
    display: none;
  }
  @media (max-width: 768px) {
    background-color: $secondary;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 9999;
    #hamburger {
      color: $primary;
    }

    h1 {
      width: 100%;
    }
    a {
      color: $primary;
    }
    .sidebar {
      flex-direction: column;
      position: absolute;
      background-color: $secondary;
      width: 100%;
      top: 10vh;
      right: -100%;
      color: $primary;
      transition: 0.3s ease;
    }
    li:hover a {
      // background-color: white;
      color: $primary;
      // transform: translateY(-10px);
      border: 2px solid #d72323;

      // border-bottom: 20px solid #f5eded;
    }
    span {
      display: block;
      font-size: 2.3rem;
      cursor: pointer;
      color: black;
      .toggle {
        right: 0%;
      }
    }
  }
}
section#sec-1 {
  min-height: 100vh;
  width: 100%;
  h1 {
    font-size: 4rem;
    color: $secondary;
  }
  a {
    font-size: 3rem;
    color: $othercolor;
    border-bottom: #c31432 1px dotted;
    transition: 0.3s ease;
  }
  a:hover {
    border-bottom: 5px solid #c31432;
  }
}

// btn scroll top

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  // background-color: #d72323; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  font-size: 18px; /* Increase font size */

  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.container {
  position: relative;
  overflow: hidden;
  width: 30%;
  padding-top: 40.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 30%;
}
